/* default styles */

* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

h2 {
  color: rgb(0, 156, 119);
  font-weight: 400;
  border-bottom: 1px solid rgb(0, 183, 140);
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
}

button {
  width: 100%;
  font-weight: bold;
  padding: 20px;
  font-size: 24px;
  border-radius: 10px;
  font-weight: bold;
  border: 0;
}

button:hover {
  background-color: lightgrey;
}

.focus-button {
  background-color: rgb(0, 183, 140);
  color: white;
}

.focus-button:hover {
  background-color: rgb(8, 217, 161);
}

.warning-button {
  background-color: rgb(255, 0, 0);
  color: white;
}

.warning-button:hover {
  background-color: rgb(225, 0, 0);
}

label {
  color: grey;
  font-size: 20px;
  padding-left: 5px;
}

.form-input {
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

/* navigation */

#navigation {
  height: 80px;
  /* background-color: rgb(221, 194, 159); */
  display: flex;
  align-items: center;
  column-gap: 3%;
  padding: 0 10%;
  font-size: 24px;
}

#navigation form {
  flex-grow: 1;
}

#navigation form input {
  width: 100%;
  padding: 15px 0px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50px;
}

#navigation form button {
  position: absolute;
  top: 0;
}

#navigation a {
  /* padding: 0 30px; */
  color: black;
  text-decoration: none;
}

#navigation a:hover {
  color: rgb(149, 106, 47);
}

/* home */

#home-search {
  height: 500px;
  background-image: url("./img/cover.png");
  position: relative;
}

#home-search .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

#home-search input {
  height: 40px;
  width: 50vw;
  padding: 15px 0px;
  border: 0;
  border-radius: 50px;
}

.cards {
  margin: 40px;
  column-count: 4;
  column-gap: 3vw;
}

.card {
  /* border: 3px solid green; */
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 40px;
}

.card img {
  display: block;
  width: 100%;
  border-radius: 30px 30px 0 0;
  border-top: 3px solid grey;
}

.card .content {
  margin: 10px 5px;
}

.card p {
  padding: 5px;
}

.card .cost {
  display: block;
  font-size: 32px;
  font-weight: 600
}

.card .info {
  display: flex;
  justify-content: start;
  column-gap: 10px;
}

.card .info p {
  font-size: 20px;
  display: inline;
}

.card .address {
  display: block;
  font-size: 20px;
}

@media screen and (max-width: 1440px) {
  .cards {
    column-count: 3;
  }
}
@media screen and (max-width: 980px) {
  .cards {
    column-count: 2;
  }
}

@media screen and (max-width: 640px) {
  .cards {
    column-count: 1;
  }
}

/* login and Sign Up */

.login-signup {
  width: 400px;
  margin: 100px auto;
  border: 1px solid rgb(0, 183, 140);
  border-radius: 10px;
  padding: 30px;
}

.login-signup h1 {
  color: rgb(78, 78, 78);
  font-weight: 500;
  font-size: 28px;
}

.login-signup img {
  display: block;
  margin: 0 auto;
  width: 40px;
}

.login-signup form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.login-signup form div {
  display:  flex;
  flex-direction: column;
  row-gap: 10px;
}

.login-signup form p {
  text-align: center;
}

/* your listings */

#your-listings h1 {
  margin: 30px;
}

#your-listings {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin: 30px;
}

#your-listings a {
  color: black;
  text-decoration: none;
}

#your-listings .listings div {
  height: 150px;
  border: 1px solid rgb(0, 183, 140);
  border-radius: 10px;
  padding: 30px;
}

#your-listings .listings div:first-child {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

#your-listings .listings div:first-child p:first-child {
  font-size: 112px;
  margin-top: -40px;
  margin-bottom: -20px;
}

/* add listing */

#add-listing {
  margin: 0 3vw;
}

#add-listing .address div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

#add-listing .address #street {
  flex: 6;
}

#add-listing .address #city {
  flex: 3;
}

#add-listing .address #st {
  flex: 1;
  max-width: 30px;
}

#add-listing .address #zip-code {
  flex: 2;
}

#add-listing .sqft {
  display: flex;
}

#add-listing .description textarea {
  width: 100%;
  height: 600px;
}

#add-listing .buttons {
  display: flex;
  justify-content: right;
  column-gap: 20px;
  /* flex-wrap: wrap; */
  margin: 20px 0;
}

#add-listing .buttons button {
  width: 150px;
}

#add-listing .buttons .focus-button {
}